{% extends 'security/security_base.html' %}
{% block title %}
    {{ 'Восстановление пароля' + super() }}
{% endblock %}
{% block content_s %}
    <h1 class="text-center">{{ _('Send password reset instructions') }}</h1>
    <form class="form-signin align-items-center" action="{{ url_for_security('forgot_password') }}" method="POST"
          name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}
        {{ render_field_with_errors(forgot_password_form.email, class="form-control") }}
        {{ render_field(forgot_password_form.submit, class="btn btn-primary") }}
        {% include "security/messages.html" %}
        <div class="text-center">{% include "security/menu.html" %}</div>
    </form>
{% endblock %}