{% extends 'security/security_base.html' %}
{% block title %}
    {{ 'Сброс пароля' + super() }}
{% endblock %}
{% block content_s %}
    <h1 class="text-center">{{ _('Reset password') }}</h1>
    <form class="form-signin align-items-center"
          action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST"
          name="reset_password_form">
        {{ reset_password_form.hidden_tag() }}
        {{ render_field_with_errors(reset_password_form.password, class="form-control") }}
        {{ render_field_with_errors(reset_password_form.password_confirm, class="form-control") }}
        {{ render_field(reset_password_form.submit, class="btn btn-primary") }}
        {% include "security/messages.html" %}
        <div class="text-center">{% include "security/menu.html" %}</div>
    </form>
{% endblock %}
