{% extends 'security/security_base.html' %}
{% block title %}
    {{ 'Отправить логин' + super() }}
{% endblock %}
{% block content_s %}
    <h1 class="text-center">{{ _('Login') }}</h1>
    <form class="form-signin align-items-center" action="{{ url_for_security('login') }}" method="POST"
          name="send_login_form">
        {{ send_login_form.hidden_tag() }}
        {{ render_field_with_errors(send_login_form.email, class="form-control") }}
        {{ render_field(send_login_form.submit, class="btn btn-primary") }}
        {% include "security/messages.html" %}
        <div class="text-center">{% include "security/menu.html" %}</div>
    </form>
{% endblock %}
